#header{
	height:100px;
	width:100%;
	box-shadow:0 2px 4px -1px rgba(0,0,0,0.25); 
	position: fixed;
	top:0;
	z-index: 1000;
	background-color: white;
}

#header > header{
	display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 100px;
    height: 100px;
}

.header_hover > a{
	padding: 5px 10px;
	display: inline-block;
	height: 103px;
}

.header_hover > a:hover{
	background-color:gray;
	color:white;
	transition:background-color 2s,color 1s;
}

.ant-popover-placement-bottom .ant-popover-arrow{
    border-bottom-color: white;
    top: inherit;
}

.ant-popover-inner{
    border-radius: 0;
}

.wrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    background-size: 80px 80px;
    width: 100px;
}

.logout{
    right:20px;
    position:absolute;
}

/*3d旋转效果*/

@keyframes bganim {
    from {
        background-position: 0px;
    }

    to {
        background-position: 80px;
    }
}

.cube {
    margin: auto;
    position: relative;
    height: 70px;
    width: 70px;
    transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    opacity: 0.9;
    background-color: #97c7c7;
    color: #fff;
    font: 10px arial;
    transition: transform 0.2s ease-in;
    line-height: 50px;
    text-align: center;
    border: 1px solid white;
}

.front {
    transform: translateZ(20px);
    
}

.back {
    transform: translateZ(-50px) rotateY(180deg);
    
}

.right {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
    
}

.left {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
    
}

.top {
    transform: rotateX(-270deg) translateY(-50px);
    transform-origin: top center;
    
}

.bottom {
    transform: rotateX(270deg) translateY(50px);
    transform-origin: bottom center;
    
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube {
    animation: rotate 20s infinite linear;
}

.wrap:hover .front {
    transform: translateZ(50px);
}

.wrap:hover .back {
    transform: translateZ(-100px) rotateY(180deg);
}

.wrap:hover .right {
    transform: rotateY(-270deg) translateZ(50px) translateX(50px);
}

.wrap:hover .left {
    transform: rotateY(270deg) translateZ(50px) translateX(-50px);
}

.wrap:hover .top {
    transform: rotateX(-270deg) translateZ(50px) translateY(-50px);
}

.wrap:hover .bottom {
    transform: rotateX(270deg) translateZ(50px) translateY(50px);
}

/*抖动效果*/
@-webkit-keyframes buzz-out {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
  }
}

.logout:hover  {
            -webkit-animation-name: buzz-out;
            -webkit-animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
}

/*旋转效果*/
.personImg{
    width:50px;
    height:50px;
    border-radius:50%;
    background-image:url('../image/my.jpg');
    margin-left:10px;
    background-size: contain;
    transition:transform 2s;
}

.personImg:hover{
    transform:rotate(360deg);
}
